body {
    margin: 0px;
    padding: 0px;
}
.container {
    max-width: 1240px;
    width: 100%;
    margin: 0px auto;
}
.ul-grid {
    display: none;

}
.text-decoration {
    text-decoration: none;
}
.text-black {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.footer-bg {
    background-color: #333333;
    color: #fff;
    padding: 25px;
    text-align: center;
}
.text-blue {
    color:#c3d8f2 ;
}
.px {
    padding: 0px 5px;
}
@media screen and (min-width:992px) {
    .ul-grid {
        display: grid;
        grid-template-columns: auto auto auto;
    
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px;
    }
    .main-heading {
        font-size: 40px;
        font-weight: bold;
    }
    .grid-img {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
    .grid-item2 {
        grid-column: 2 / 4;
    }
    .grid-item6 {
        grid-column: 1 / 3;
    }
}

